html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: #f5f6f8;

	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3b434e;
	--white: white;
	--gray-light: #ebebeb;
	--primary: #7653fc;
	--primary-hover: #6334df;
	--red: #fc836d;
	--green: #1dc37e;
	--green-light: #c8f8e4;
	--font-family: font-family: 'Noto Sans', sans-serif;
}